body {
  margin: 0;
  font-family: 'Oswald', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2,h4{
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.list-group-item {
  cursor: pointer;
}

.kategori-aktif{
  background-color: #05c46b !important;
  color: #ffffff; 
}
.card{
  cursor: pointer !important;
}